  body {
      background-image: url(../images/gravel.png);
      margin: 0px;
  }

  .navbar {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: white;
    overflow: hidden;
    border-bottom: 3px solid #8a8281;
    border-color: rgba(138,130,129, 0.7); /*So the opacity wouldn't effect my text.*/
  }
  
  li.link, li.contact {
      float: right;
      list-style-type: none;
      padding-top: 15px;
      border-right: 1px solid transparent;
      line-height: 1px;
  }

  li.contact {
    margin-right: 480px;
  }

  li.contact a {
    display: block;
    color: #8a8281;
    text-decoration: none;
    padding: 15px 16px;
  }

  li.link a {
      display: block;
      color: #8a8281;
      padding: 15px 16px;
      text-decoration: none;
      border-right: 2px solid #d9d7d7;
      line-height: 1px;
  }

  li.name {
      float: left;
      list-style-type: none;
      margin-left: 480px;
      background-color: #2fb5af;
      color: white;
      padding-right: 30px;
      padding-left: 30px;
      font-family: 'Georgia', Times, 'Times New Roman', serif;
  }

  li.link a:hover {
    background-color: #111;
  }

  li.contact a:hover {
    background-color: #111;
  }

  .cntr {
      text-align: center;
  }

  .card {
    transition: 0.3s;
    width: 960px;
    display: inline-block;
    text-align: center;
    background-color: white;
    margin-top: 40px;
  }

  .container {
      width: 95%;
      height: auto;
      padding: 16px;
  }
  
  .undrln {
      border-bottom: 3px solid #8a8281;
      border-color: rgba(138,130,129, 0.5); /*So the opacity wouldn't effect my text.*/
      margin-left: 15px;
  }

  h2 {
      text-align: left;
      color: #2fb5af;
      font-size: 30px;
      background-color: rgba(#fff);
      font-family: 'Georgia', Times, 'Times New Roman', serif;
  }

  /* index.html */
  img#avatar {
      height: 190px;
      width: auto;
      margin: 15px;
      float: left;
  }

  p.bio {
      font-size: 180%;
      text-align: left;
      color: #6b6b6b;
      margin: 15px;
      font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  }
  
 /* contact.html */
  form, input, textarea {
      width: 100%;
      text-align: left;
      display: block;
      margin: 20px;
      margin-top: 8px;
      margin-left: 10px;
  }

  label {
      margin-left: 10px;
      color: grey;
  }

  #name-input, #email, #message {
      border: 1px solid  rgba(138,130,129, 0.3); /*So the opacity wouldn't effect my text.*/
}

  .btn {
      background-color: #2fb5af;
      float: left;
      border: none;
      color: white;
      width: 120px;
      padding: 15px 25px;
      font-size: 17px;
      margin: 20px 20px;
  }
  
  /* portfolio.html */
  #top, #middle {
      float: left;
      margin: 20px 20px 20px 0px;
  }

  #rpg, #widget {
      margin-left: 30px;
  }

  img {
      height: 220px; /*needed size for this layout.*/
      width: auto;
  }

  #bottom {
      text-align: left;
      margin-top: 20px 20px 20px 0px;
  }

  .footer {
      left: 0;
      bottom: 0;
      width: 100%;
      margin-top: 75px;
      height: 75px;
      color: white;
      text-align: center;
      background-color: grey;
      border-top: 8px solid #4aaaa5;
      position: scroll;
  }

  .copy {
      padding-top: 30px;
  }